@model Subdomain

<form method="post">    
    <div class="border p-2 mt-4">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <div class="row">
                
                <div class="col-9">
                    <label class="p-0">Enter your tenant subdomain to find the network requirements</label>
                    <div class="input-group mb-2">
                        <span class="input-group-text">https://</span>
                        <div class="form-floating">                            
                            <input type="text" class="form-control" id="floatingdomain" placeholder="Subdomain" asp-for="domain">
                            <label class="" for="floatingdomain">Subdomain</label>
                        </div>
                        <span class="input-group-text">.cyberark.cloud</span>
                    </div>
                    <span asp-validation-for="domain" class="text-danger"></span>
                </div>
                <div class="col-3 mt-4 p-1">                    
                        <button type="submit" class="btn btn-primary">Search</button>                    
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        <script type="text/javascript" src="@Url.Content("~/js/clipboardcopy.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/downloadfile.js")"></script>
    }    
}


    @if (Model?.AwsRegion != null)
    {
    
    <div class="border p-3 mt-1">
        <div class="mt-0 fs-4">
            <div class="p-1" style="position: relative;float: right;display: block;">
                <a class="icon-link-hover"><i class="bi bi-filetype-txt mt-3 DownloadFile"></i></a>
            </div>
            <div class="p-1" style="position: relative;float: right;display: block;">
                <i class="bi bi-clipboard " data-clipboard-target=".requirements"></i>
                <i class="bi bi-clipboard-check-fill" style="display:none"></i>
            </div>
            
        </div>
        <div class="requirements">
            <pre>
Privilege Cloud Requirements
============================
vault-@(Model.domain).privilegecloud.cyberark.cloud:1858
@(Model.IdentityTenantId).id.cyberark.cloud:443
connector-@(Model.domain).privilegecloud.cyberark.cloud:443
console.privilegecloud.cyberark.cloud:443
@(Model.domain).cyberark.cloud:443
@(Model.domain).privilegecloud.cyberark.cloud:443
webaccess-@(Model.domain).privilegecloud.cyberark.cloud:443
@(Model.domain).connectormanagement.cyberark.cloud:443

Connector Management Based on @(Model.AwsRegion)
===========================================
connector-management-scripts-490081306957-@(Model.AwsRegion).s3.amazonaws.com:443
connector-management-assets-490081306957-@(Model.AwsRegion).s3.amazonaws.com:443
a3vvqcp8z371p3-ats.iot.@(Model.AwsRegion).amazonaws.com:443
component-registry-store-490081306957.s3.amazonaws.com:443

AWS SSL
=======
crt.r2m02.amazontrust.com:80
ocsp.r2m02.amazontrust.com:80

Identity Connector
==================
This is based on the identity tenant pod being @(Model.IdentityPodId).

@(Model.IdentityPodId)-b1.relay.idaptive.app:443
@(Model.IdentityPodId)-b2.relay.idaptive.app:443
@(Model.IdentityPodId)-a1.relay.idaptive.app:443
@(Model.IdentityPodId)-a2.relay.idaptive.app:443
pod0.idaptive.app:443
edge.idaptive.app:443
privacy-policy.truste.com:80
ocsp.verisign.com:80
ocsp.globalsign.com:80
crl.globalsign.com:80
secure.globalsign.com:80

Dynamic Privilege Access outbound
=================================
cms-assets-bucket-445444212982.s3.amazonaws.com:443
cms-assets-bucket-445444212982-@(Model.AwsRegion).s3.@(Model.AwsRegion).amazonaws.com:443
@(Model.AwsRegion).bc.be-privilege-access.cyberark.cloud:443
@(Model.domain).dpa.cyberark.cloud:443
a2m4b3cupk8nzj-ats.iot.@(Model.AwsRegion).amazonaws.com:443

Dynamic Privilege Access outbound from client (user) machines
=============================================================
@(Model.domain).ssh.cyberark.cloud:22
@(Model.domain).rdp.cyberark.cloud:3389
@(Model.domain).mariadb.cyberark.cloud:3306
@(Model.domain).mysql.cyberark.cloud:3306
@(Model.domain).oracle.cyberark.cloud:2484
@(Model.domain).postgres.cyberark.cloud:5432
@(Model.domain).mssql.cyberark.cloud:1433
@(Model.domain).k8s.cyberark.cloud:443

Dynamic Privilege Access LAN from connector server to target resources
======================================================================
To Linux targets:22
To Windows targets:3389,135,445,139
To Maria DB targets:3306
To MySQL DB targets:3306
To Oracle DB targets:2484
To PostgreSQL DB targets:5432
To MSSQL DB targets:1433,88,389,464
To K8S targets:433

Optional Rules
===============
The following rule is optional, it is used to gather the public egress IP.

ipinfo.io:80
            </pre>
        </div>
    </div>
    }
    
    

