@model Subdomain

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row mb-2 p-1">
            <label class="p-0" asp-for="domain"></label>
            <input class="form-control" asp-for="domain" />
        </div>
        <div class="row p-1">
            <div class="p-0">
                <button type="submit" class="btn btn-primary">Search</button>                
            </div>
        </div>
    </div>
</form>

    @if (Model?.AwsRegion != null)
    {
        <div class="border p-4 mt-1">
            <pre><code>
Privilege Cloud Requirements
=============================
vault-@(Model.domain).privilegecloud.cyberark.cloud:1858
@(Model.IdentityTenantId).id.cyberark.cloud:443
connector-@(Model.domain).privilegecloud.cyberark.cloud:443
console.privilegecloud.cyberark.cloud:443
@(Model.domain).cyberark.cloud:443
@(Model.domain).privilegecloud.cyberark.cloud:443
webaccess-@(Model.domain).privilegecloud.cyberark.cloud:443
@(Model.domain).connectormanagement.cyberark.cloud:443

Connector Managment Based on @(Model.AwsRegion)
=============================================
connector-management-scripts-490081306957-@(Model.AwsRegion).s3.amazonaws.com:443
connector-management-assets-490081306957-@(Model.AwsRegion).s3.amazonaws.com:443
a3vvqcp8z371p3-ats.iot.@(Model.AwsRegion).amazonaws.com:443
component-registry-store-490081306957.s3.amazonaws.com:443

AWS SSL
========
crt.r2m02.amazontrust.com:80
ocsp.r2m02.amazontrust.com:80

Identity Connector
===================
This is based on the identity tenant pod being @(Model.IdentityPodId).

@(Model.IdentityPodId)-b1.relay.idaptive.app:443
@(Model.IdentityPodId)-b2.relay.idaptive.app:443
@(Model.IdentityPodId)-a1.relay.idaptive.app:443
@(Model.IdentityPodId)-a2.relay.idaptive.app:443
pod0.idaptive.app:443
edge.idaptive.app:443
privacy-policy.truste.com:80
ocsp.verisign.com:80
ocsp.globalsign.com:80
crl.globalsign.com:80
secure.globalsign.com:80

Optional Rules
===============
The following rules are optional, they are used to gather the public egress IP and to update the Connector Management Pre-Requisites Script.

ipinfo.io:80
raw.githubusercontent.com:443
                    </code>
            </pre>
        </div>
    }
    
    

